node_modules
.env
coverage
coverage.json
typechain
typechain-types
build
.vscode
todo
#Hardhat files
cache
artifacts

.next
.yarn
/public/sitemap.xml
/public/sitemap-0.xml
/public/robots.txt

.tsbuildinfo